

.cursordedinho{
    cursor: pointer !important;
}
.hoverzin:hover{
    scale: 1.1 !important;
    transition: 0.3s !important;
}
.pressed {
    transform: translateY(5px); /* Move os elementos para baixo ao serem clicados */
}

.formedit{
    background-color: #313348 !important;
    color: white !important;
}

.placer::placeholder{
    color: gray !important;
}

.formvermais{
    background-color: dimgray !important;
    color: white !important;
}


